*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-button-next{
    top:auto;
    right:auto;
    left:50%;
    bottom: 5%;
    transform: rotateZ(90deg);
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
/*乐音背景*/
#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 60px;
    height: 61px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 30px;
}
/*第一屏*/
.s1,.s2{
    background: url("../img/qq.png");
    height: 100%;
    position: relative;
    background-size:cover;
}
.s1 .logo img:nth-of-type(1){
    width: 30%;
    height:60%;
    position: absolute;
    top: 18%;
    right: 33%;
}
.s1 .logo img:nth-of-type(2){
    width: 250px;
    position: absolute;
    top: 20%;
    right: 35%;
}
.s1 .logo p:nth-of-type(1){
    font-size: 30px;
    position: absolute;
    top: 68%;
    left: 45%;
}
.s1 .logo p:nth-of-type(2){
    font-size:40px;
    position: absolute;
    top: 71%;
    left: 40%;
}
.s2 img:nth-of-type(1){
    position: absolute;
    top: 4%;
    left: 10%;
    width: 79%;
    height: 87%;
}